@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation-name: fadeIn;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.animate-slideUp {
  animation-name: slideUp;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
